

<head>

    <title>Elephant GM</title>

    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/style.css">
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="assets/js/write_commit.js" defer></script>

</head>

<body>
    
    <main id="app" class="p-4">
        <section>
            <section class="img">
                <img src="images/logo.png" alt="Logo">
            </section>

            <section class="main py-3 px-5">
                <section class="container mb-2">
                    <div class="row mb-3">
                        <div class="d-flex flex-column col mb-3">
                            <span>Tarefa</span>
                            <input type="text" name="tarefa" v-model="tarefa">
                        </div>
                        <div class="d-flex flex-column col mb-3">
                            <span>Tipo</span>
                            <select name="tipo" v-model="tipo">
                                <option value=""></option>
                                <option value="Feature">Feature</option>
                                <option value="Hot Fix">Hot Fix</option>
                            </select>
                        </div>
                        <div class="d-flex flex-column col mb-3">
                            <span>Ação</span>
                            <select name="acao" v-model="acao">
                                <option value=""></option>
                                <option value="atualização">atualização</option>
                                <option value="debug">debug</option>
                                <option value="novidade">novidade</option>
                                <option value="refatoração">refatoração</option>
                                <option value="renomeação">renomeação</option>
                                <option value="reestruturação">reestruturação</option>
                                <option value="substituição">substituição</option>
                                <option value="teste">teste</option>
                            </select>
                        </div>
                        <div class="d-flex flex-column col mb-3">
                            <span>Área</span>
                            <select name="area" v-model="area">
                                <option value=""></option>
                                <option value="página">página</option>
                                <option value="frontend">frontend</option>
                                <option value="backend">backend</option>
                                <option value="api">api</option>
                                <option value="diretórios">diretórios</option>
                                <option value="documento">documento</option>
                                <option value="pacotes">pacotes</option>
                                <option value="motor">motor</option>
                            </select>
                        </div>
                        <div class="d-flex flex-column col mb-3">
                            <span>Status</span>
                            <select name="status" v-model="status">
                                <option value=""></option>
                                <option value="começando">começando</option>
                                <option value="executando">executando</option>
                                <option value="finalizando">finalizando</option>
                                <option value="concluído">concluído</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="d-flex flex-column">
                            <span>Descrição</span>
                            <textarea name="desc" v-model="desc" class="mb-2"></textarea>
                            <div class="d-flex flex-row-reverse">

                                <button @click="copyMsg" class="py-1 px-3 ms-2">Copiar!</button>
                                
                                <button @click="clear" class="py-1 px-3">Limpar</button>

                            </div>
                        </div>
                    </div>
                </section>

                <section class="msg p-4 container">
                    <span id="msg">
                        {{ msg }}
                    </span>
                </section>
            </section>
        </section>

    </main>

</body>


