@font-face {
    font-family: 'THEBOLDFONT', sans-serif;
    src: url("assets/font/THEBOLDFONT 2022.otf") format("otf"),
        url("assets/font/THEBOLDFONT.ttf") format("ttf"),;
}

* {
    box-sizing: border-box;
    font-family: 'THEBOLDFONT', sans-serif;
}

body {
    margin: 0px;
    min-height: 100vh;

    display: grid;
    justify-items: center;
    align-items: center;

    background-color: rgb(249, 254, 255);
    background-size: cover;
    background-position: center;
    background-image: url("../../images/background.jpg");
}

main { 
    padding: 10px;

    height: 70vh;
    width: 70vw;
    
    background: rgb(249, 254, 255);
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.6);

    overflow-y: scroll;
}

section.img {
    display: flex;
    flex-direction: row;
    column-gap: 2%;
}

section.img img {
    height: 60px;
}

section.img span {
    font-size: 20px;
    font-weight: 900;
    color: #777bb3;
}

section.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 35px;
}

section.main section.form {
    display: flex;
    flex-direction: row;

    column-gap: 10px;
}

section.main section.msg {
    font-weight: 600;
    color: #45487c;

    word-wrap: break-word;
}

div.cell {
    display: flex;
    flex-direction: column;
}

input, select {
    border-radius: 4px;

    padding: 4.5px 5px;

    text-align: center;

    border: 1px solid #63679d;
    background-color: rgb(250, 250, 250);

    -webkit-transition: all .1s;
    transition: all .1s ease-in-out;

    outline-style: none;
}

button {
    border-radius: 4px;

    height: 28px;
    width: 25px;

    color: whitesmoke;
    font-weight: bold;

    border: 1px solid #63679d;
}